<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #D9D9D9;height: 20px;">
    <div class="container-fluid">
      <div class="col-md-4">
        <div class="icons" style="display: flex;">
          <img src="../../assets/images/flag-icon.png" style="height:2vh;margin-top:auto;margin-bottom: auto;" alt="NA">
          <span style="font-weight: bold;color: #0F044C;">Government of India</span>
        </div>
      </div>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1"
        aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        
        <div class="col-md-12" >
          <div class="collapse navbar-collapse" id="navbarSupportedContent1" style="float:right">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
              <li class="nav-item1" >
                <a class="nav-link " aria-current="page"  href="#main" style="color: #0F044C;">Skip to Main Content</a>
              </li>
              <li class="nav-item1">
                <a class="nav-link " href="#" style="color: #0F044C;">Sign In</a>
              </li>
              <li class="nav-item1">
                <a class="nav-link" href="#" style="color: #0F044C;">Register</a>
              </li>
              <li class="nav-item1" >
                  <a id="text_resize_decrease" class="nav-link" href="#" onclick="decreaseFontSize()"
                      title="Decrease font size" role="link" style="color: #0F044C; text-decoration: none;">-A</a>
              </li> 
              <li  class="nav-item1">
                <a id="text_resize_reset" class="nav-link" onclick="actualFontSize()" href="#"
                title="Reset font size" role="link" style="color: #0F044C; text-decoration: none;"> A</a>
              </li>
              <li  class="nav-item1">
                <a id="text_resize_increase" class="nav-link" onclick="increaseFontSize()" href="#"
                      title="Increase font size" role="link" style="color: #0F044C; text-decoration: none;">+A</a>
              </li>   
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
