<app-pre-header></app-pre-header>
<header></header>
<navbar></navbar>
<div style="margin-left: 40%; margin-top: 10px">
  <button
    type="submit"
    class="btn btn-success me-2"
    (click)="getApplications()"
  >
    View All Applications
  </button>
</div>
<div
  class="container-fluid col-md-8 col-sm-8 col my-4"
  (event)="toggleShowTable()"
>
  <table class="table col-md-8 col-sm-8" *ngIf="showTable">
    <thead class="table-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Status</th>
        <th scope="col" style="text-align: center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of emigrant">
        <td>{{ e.firstName }}</td>
        <td>{{ e.middleName }}</td>
        <td>{{ e.lastName }}</td>
        <td>{{ e.status }}</td>
        <td style="text-align: center">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
              (click)="openModal(e)"
              class="btn btn-primary w-20 me-2"
              type="submit"
            >
              View
            </button>
            <button
              class="btn btn-success w-20 me-2"
              type="submit"
              *ngIf="'Pending' == getValue()"
              (click)="approveEmigrant(e)"
            >
              Approve
            </button>
            <button
              (click)="viewDocs(e.mappingId)"
              class="btn btn-success w-20 me-2"
              type="submit"
            >
              View Dcouments
            </button>
            <button
              class="btn btn-danger w-20"
              type="submit"
              *ngIf="'Pending' == getValue()"
              (click)="rejectEmigrant(e)"
            >
              Reject
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">?</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName" />
    </div>
    <div class="mb-3">
      <label for="middleName" class="form-label">Middle Name</label>
      <input type="text" class="form-control" id="middleName" />
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" />
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Ok
    </button>
  </div>
</ng-template>
