<div class="container-fluid" style="padding: 0px; width: 100%">
  <div class="container-fluid entire-body-background">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-8 top">
          <mat-tab-group dynamicHeight>
            <mat-tab label="Latest Updates" >
              <!-- <mat-progress-bar mode="buffer"></mat-progress-bar> -->
              <div class="example-small-box mat-elevation-z4" >
                <marquee onmouseover="this.stop();" onmouseout="this.start();" direction="up" scrollamount="4" height="150vh" on>
                  <h4>> Apply for Registration</h4>
                  <h4>
                    > List of Unregistered RA / Illegal Agencies / Agents as on
                    August 2021<img src="../../assets/images/new-blinking.gif" alt="NA" width="50px" height="40px" style="padding:5px;margin-top: -5px;">
                  </h4>
                  <h4>> Resubmit Registration Application</h4>
                  <h4>> Verify R A Status.</h4>
                  <h4>> Verify Emigrant Details.</h4>
                  <h4>
                    > List of Unregistered RA / Illegal Agencies / Agents as on
                    August 2021<img src="../../assets/images/new-blinking.gif" alt="NA" width="50px" height="40px" style="padding:5px;margin-top: -5px;">
                  </h4>
                  <h4>> Verify R A Status.</h4>
                  <h4>> Get New Policy Details.</h4>
                </marquee>
              </div>
            </mat-tab>
            <mat-tab label="Upcoming Events"> </mat-tab>
          </mat-tab-group>
      </div>
      <div class="col md-8 bottom">
       <app-home-carousal></app-home-carousal>
      </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h3
                  class="card-title"
                  style="
                    font-weight: bold;
                    color: #0f044c;
                    text-decoration: underline;
                  "
                >
                  Connect with Us <img src="../../assets/images/telephone-icon.png" alt="NA" width="30px" height="30px" style="padding:5px;margin-top: -5px;">
                </h3>
                <div
                  class="card-body"
                  style="background-color: #141E61; margin-bottom: 8px"
                >
                  <label style="color: #ffffff; font-size: 2vh"
                    >> Follow us on Twitter </label
                  ><br />
                  <label style="color: #ffffff; font-size: 2vh"
                    >> @eMigrateProject </label
                  ><br />
                </div>
                <!-- <a href="#" class="btn" style="background-color: #0F044C;color:#FFFFFF">Go somewhere</a> -->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h3
                  class="card-title"
                  style="
                    font-weight: bold;
                    color: #141E61;
                    text-decoration: underline;
                  "
                >
                  Quick Links<img src="../../assets/images/red_bulb.png" alt="NA" width="30px" height="30px" style="padding:5px;margin-top: -5px;">
                </h3>
                <div
                  class="card-body"
                  style="background-color: #141E61; margin-bottom: 8px"
                >
                  <label style="color: #ffffff; font-size: 2vh"
                    >> Register with us. </label
                  ><br />
                  <label style="color: #ffffff; font-size: 2vh"
                    >> Verify Profile. </label
                  ><br />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="margin-top: 20px">
                <div class="card-body">
                  <div
                    style=" height: 4vh; width: 100%"
                  >
                  <h3
                  class="card-title"
                  style="
                    font-weight: bold;
                    color: #141E61;
                    text-decoration: underline;
                    text-align: center;
                  "
                >
                      Frequently Asked Questions<img src="../../assets/images/question-mark.png" alt="NA" width="30px" height="30px" style="padding:5px;margin-top: -5px;">
                    </h3>
                  </div>
                </div>
                <div
                  class="card-body"
                  style="background-color: #141E61; display: flex;"
                >
                <div class="card-body col-md-3" style="width:60%" >
                  <label style="color: #ffffff; font-size: 2vh">> I am: </label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Name"
                    style="height: 4vh; font-size: 2vh; width: 50%"
                  />
                  <label style="color: #ffffff; font-size: 2vh"
                    >> I want to know about:
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Enter your query"
                    style="height: 4vh; font-size: 2vh; width: 50%;"
                  />
                </div>
                <div class="col-md-3" >
                  <button class="btn btn-light" style="margin-top: 8vh;font-weight: 700;">Submit</button>
                </div>  
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
