<mat-accordion>
    <mat-expansion-panel >
      <mat-expansion-panel-header style="height: 30vh;">
        <mat-panel-title >
            <div style="display: block;">
                <div>
                    Top 5 Job Roles
                </div>
                <div>
                    <img src="../../../assets/images/Icon1.png" alt="NA" width="80px" height="80px" style="padding:5px;margin-top: -5px;">
                </div>
            </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>> Doctor</p>
      <p>> Doctor</p>
      <p>> Doctor</p>
      <p>> Doctor</p>
      <p>> Doctor</p>
    </mat-expansion-panel>
  </mat-accordion>
