<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Emigrant Details</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <!-- HTML form mark up -->
    <form [formGroup]="entryForm" novalidate>
      <div class="card">
        <div class="card-header">
          <div class="float-left">
            <h3 class="text-info">Emigrant</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="id" hidden>Id</label>
            <label class="d-block">
              <input
                title="id"
                type="text"
                class="form-control"
                formControlName="id"
                [placeholder]="'Auto Assigned Id'"
                readonly
                hidden
              />
            </label>

            <label for="firstName">First Name</label>
            <label class="d-block">
              <input
                title="firstName"
                type="text"
                class="form-control"
                formControlName="firstName"
                [placeholder]="'Enter first Name here'"
                readonly
              />
            </label>

            <label for="middleName">Middle Name</label>
            <label class="d-block">
              <input
                title="middleName"
                type="text"
                class="form-control"
                formControlName="middleName"
                [placeholder]="'Enter middle Name here'"
                readonly
              />
            </label>

            <label for="lastName">Last Name</label>
            <label class="d-block">
              <input
                title="lastName"
                type="text"
                class="form-control"
                formControlName="lastName"
                [placeholder]="'Enter last Name here'"
                readonly
              />
            </label>

            <label for="profession">Profession</label>
            <label class="d-block">
              <input
                title="profession"
                type="text"
                class="form-control"
                formControlName="profession"
                [placeholder]="'Enter profession here'"
                readonly
              />
            </label>

            <label for="education">Education</label>
            <label class="d-block">
              <input
                title="education"
                type="text"
                class="form-control"
                formControlName="education"
                [placeholder]="'Enter education here'"
                readonly
              />
            </label>

            <label for="address">Address</label>
            <label class="d-block">
              <input
                title="address"
                type="text"
                class="form-control"
                formControlName="address"
                [placeholder]="'Enter address here'"
                readonly
              />
            </label>

            <label for="contactNumber">Contact Number</label>
            <label class="d-block">
              <input
                title="contactNumber"
                type="text"
                class="form-control"
                formControlName="contactNumber"
                [placeholder]="'Enter contactNumber here'"
                readonly
              />
            </label>

            <label for="gender">Gender</label>
            <label class="d-block">
              <input
                title="gender"
                type="text"
                class="form-control"
                formControlName="gender"
                [placeholder]="'Choose gender'"
                readonly
              />
            </label>

            <label for="dateOfBirth">Date Of Birth</label>
            <label class="d-block">
              <input
                title="dateOfBirth"
                type="date"
                class="form-control"
                formControlName="dateOfBirth"
                [placeholder]="'Enter date of birth here'"
                readonly
              />
            </label>

            <label for="mappingId" hidden>Mapping Id</label>
            <label class="d-block">
              <input
                title="mappingId"
                type="text"
                class="form-control"
                formControlName="mappingId"
                [placeholder]="'Enter Mapping Id here'"
                readonly
                hidden
              />
            </label>
            <br />
            <div class="card">
              <div class="card-header">
                <div class="float-left">
                  <h3 class="text-info">Passport</h3>
                </div>
              </div>
              <div class="card-body">
                <div formGroupName="passport">
                  <div class="form-group">
                    <label for="passportNumber">Passport Number</label>
                    <label class="d-block">
                      <input
                        title="passportNumber"
                        type="text"
                        class="form-control"
                        formControlName="passportNumber"
                        [placeholder]="'Enter passport number here'"
                        readonly
                      />
                    </label>

                    <label for="passportType">Passport Type</label>
                    <label class="d-block">
                      <input
                        title="passportType"
                        type="text"
                        class="form-control"
                        formControlName="passportType"
                        [placeholder]="'Enter passport type here'"
                        readonly
                      />
                    </label>

                    <label for="placeOfIssue">Place Of Issue</label>
                    <label class="d-block">
                      <input
                        title="placeOfIssue"
                        type="text"
                        class="form-control"
                        formControlName="placeOfIssue"
                        [placeholder]="'Enter passport place of issue here'"
                        readonly
                      />
                    </label>

                    <label for="issueDate">Passport Issue Date</label>
                    <label class="d-block">
                      <input
                        title="issueDate"
                        type="date"
                        class="form-control"
                        formControlName="issueDate"
                        [placeholder]="'Enter passport issue date here'"
                        readonly
                      />
                    </label>

                    <label for="expiryDate">Passport Expiry Date</label>
                    <label class="d-block">
                      <input
                        title="expiryDate"
                        type="date"
                        class="form-control"
                        formControlName="expiryDate"
                        [placeholder]="'Enter passport expiry date here'"
                        readonly
                      />
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="card">
              <div class="card-header">
                <div class="float-left">
                  <h3 class="text-info">Visa</h3>
                </div>
              </div>
              <div class="card-body">
                <div formGroupName="visa">
                  <div class="form-group">
                    <label for="visaNumber">Visa Number</label>
                    <label class="d-block">
                      <input
                        title="visaNumber"
                        type="text"
                        class="form-control"
                        formControlName="visaNumber"
                        [placeholder]="'Enter visa number here'"
                        readonly
                      />
                    </label>

                    <label for="visaType">Visa Type</label>
                    <label class="d-block">
                      <input
                        title="visaType"
                        type="text"
                        class="form-control"
                        formControlName="visaType"
                        [placeholder]="'Enter visa type here'"
                        readonly
                      />
                    </label>

                    <label for="visaIssueDate">Visa Issue Date</label>
                    <label class="d-block">
                      <input
                        title="visaIssueDate"
                        type="date"
                        class="form-control"
                        formControlName="visaIssueDate"
                        [placeholder]="'Enter visa issue date here'"
                        readonly
                      />
                    </label>

                    <label for="visaExpiryDate">Visa Expiry Date</label>
                    <label class="d-block">
                      <input
                        title="visaExpiryDate"
                        type="date"
                        class="form-control"
                        formControlName="visaExpiryDate"
                        [placeholder]="'Enter visa expiry date here'"
                        readonly
                      />
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <label for="status">Status</label>
            <label class="d-block">
              <input
                title="status"
                type="text"
                class="form-control"
                formControlName="status"
                [placeholder]="'Enter status here'"
                readonly
              />
            </label>
          </div>
        </div>
        <div class="card-footer">
          <div class="float-right">
            <!-- HTML markup for Back button -->
            <button
              (click)="onCancel()"
              class="btn btn-secondary w-20"
              type="submit"
            >
              <span><i class="fa fa-arrow-left"></i> Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
